<h1><%= @space.name %></h1>
<p><%= @space.description %></p>
<p>Price per night <%= @space.price %></p>
<ul>
   <% @calendar.each do |date| %>
    <li> <% if Bookings.get_availability(space_id: @space.id, date: date) %>
            <%= date %> - Avaliable
         <% else %>
            <%= date %> - Booked
        <% end %> 
    </li>
    <% end %>