<style>
  .menu #login,
  .menu #all-spaces {
    display: none;
  }
</style>

<div class="container">
    <h1><%= @space.name %></h1>
    <p><%= @space.description %></p>
    <p>Price per night: £<%= @space.price %></p>
    <form action="/spaces/<%=@space.id%>">
        <label for="filter_date">View availability from:</label>
        <input type="date" name="filter_date" class="input-box"/>
        <input type="hidden" name="space_id" value=<%= @space.id %>>
        <input type="submit" value=" Filter " />
    </form>
    <div class="mini-container" id="space-list-container">
      <% @calendar.each do |date| %>
        <% if Bookings.get_availability(space_id: @space.id, date: date) %>
              <div id="space-list">
              <form action="/bookings/new" method="post">
              <%= date %> 
                  <input type="hidden" name="date" value= <%= date %> >
                  <input type="hidden" name="space_id" value=<%= @space.id %>>
                  <input type="submit" value="Book" /></p>
              </form>
              </div>
        <% else %>
              <div id="space-list">
              <p><%= date %></p><br> Unavaliable
              </div>
        <% end %> 
      <% end %>
    </div>
    </center>
</div>