<h1><%= @space.name %></h1>
<p><%= @space.description %></p>
<p>Price per night <%= @space.price %></p>
<ul>
   <% @calendar.each do |date| %>
     <% if Bookings.get_availability(space_id: @space.id, date: date) %>
          <form action="/bookings/new" method="post">
          <%= date %> 
          <input type="hidden" name="date" value= <%= date %> >
          <input type="hidden" name="space_id" value=<%= @space.id %>>
          <input type="submit" value="Book" />
        </form>
         <% else %>
            <%= date %> - Booked
        <% end %> 
    <% end %>
