
<form action="/spaces">
<input type="submit" value="Back to all spaces" />
</form>

<div class="container">
    <h1><%= @space.name %></h1>
    <p><%= @space.description %></p>
    <p>Price per night: £<%= @space.price %></p>
    <form action="/spaces/<%=@space.id%>">
        <label for="check-in">View availability from:</label>
        <input type="date" name="check-in" class="input-box"/>
        <input type="hidden" name="space_id" value=<%= @space.id %>>
        <input type="submit" value=" Filter " />
    </form>
    <center>
    <div style="height:350px;width:600px;border:1px solid #ccc;overflow:auto;">
      <% @calendar.each do |date| %>
        <% if Bookings.get_availability(space_id: @space.id, date: date) %>
              <div class="container">
              <p><form action="/bookings/new" method="post">
              <%= date %> 
                  <input type="hidden" name="date" value= <%= date %> >
                  <input type="hidden" name="space_id" value=<%= @space.id %>>
                  <input type="submit" value="Book" /></p>
              </form>
              </div>
        <% else %>
              <div class="container">
              <p><%= date %></p><br> Unavaliable
              </div>
        <% end %> 
      <% end %>
    </div>
    </center>
</div>